/* your styles go here */
#div_mesposts {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    background-color: #FFFAFA;
}

#modif_post{
    float : right;
}

#content_post {
    height: 200px;
    width: 100%;
    
}

.envoyer {
    float: right;
    height: auto;
    margin: auto;
    width: auto;
   
}

.reception {
    float: left;
    height: auto;
    margin: auto;
    width: auto;
   
}

#personne {
    border-width: 1px;
    border-style: solid;
}

#droite{
    float : right;
}
#invisible{
    visibility : hidden;
}
#ta {
    display: inline-block;
    width: 100%;
    resize: none;
}


#env{
    align-content : center ;
}
#barre {
    position: fixed;
    width : 100%;
   
    z-index: 20;


}
#comment {
    border-width: 1px;
    border-style: solid;
}