/* your styles go here */
#div_mesposts {
    background-color: #F8FAFC;
}

#modif_post{
    float : right;
}

#content_post {
    height: 200px;
    width: 100%;
    
}

.envoyer {
    float: right;
    height: auto;
    margin: auto;
    width: auto;
   
}

.reception {
    float: left;
    height: auto;
    margin: auto;
    width: auto;
   
}

#personne {
    background-color: #EDF0F6;
}

#droite{
    float : right;
}
#invisible{
    visibility : hidden;
}
#ta {
    display: inline-block;
    width: 100%;
    resize: none;
}


#env{
    align-content : center ;
}
#barre {
    position: fixed;
    width : 100%;
   
    z-index: 20;


}
#comment {
    border-width: 1px;
    border-style: solid;
}

#commentaire {
    background-color: #EDF0F6;
    border-radius: 10px;
}

#message {
    overflow-y: scroll;
    max-height: 640px;
    width: 100%;
 
}

#lebody {
    background-color: #e1e1e2;
}

#unedivdepost {
    border-bottom: 1px solid #8EBAD0;
}

#pwd {
    position: absolute;
   
}

#message::-webkit-scrollbar {
    /* rend la scrollbar transparente et invisible */
    width: 0px;
    background: transparent;
} 