@model IEnumerable<Tchat.Core.DTO.UserDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Messages</h2>

<div class="container" id="personne">




    @foreach (var item in Model)
    {
        if (item.UserID != (int)Session["ID"])
        {
            <div class="col-sm-12">
                @Html.DisplayFor(modelItem => item.prenom)
                @Html.DisplayFor(modelItem => item.nom)
                @Html.DisplayFor(modelItem => item.mail)
                <div id="droite">  @Html.ActionLink("Envoyer message", "MesMessages", new { id = item.UserID }) </div>

            </div>


        }
    }



</div>
