@model IEnumerable<Tchat.Core.DTO.UserDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Liste de contact</h2>

<div class="container" id="personne">




    @foreach (var item in Model)
    {
        if (item.UserID != (int)Session["ID"])
        {
            <div class="col-sm-12">
                
                
                
            
    
                <div >
                 
                    <a href="@Url.Action("MesMessages", new { id=item.UserID})" class="text-secondary">
                       
                        @Html.DisplayFor(modelItem => item.prenom)
                        @Html.DisplayFor(modelItem => item.nom)
                        
                      
                    </a>
                   
                     
                </div>

            </div>


        }
    }



</div>
