@model IEnumerable<Tchat.Core.DTO.MessageDTO>
@{
    ViewBag.Title = "MesMessages";
}

<h2> @Session["nom_message"] @Session["prenom_message"]</h2>

<div class="container">
    <div class="d-md-flex"id="parent">

        <div id="message">




        </div>

    </div>

    <br />
    <br />
    <div class="form-row" id="bas">
        <div id="contenu_message" class="form-group col-md-11">
            <textarea id="ta" class="form-control" onkeyup="javascript:isCharSet()"></textarea>

        </div>
        <div class="col">
            <input type="submit" value="Envoyer" class="btn btn-secondary mb-2" id="send" />
        </div>

    </div>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<script type="text/javascript">
    let inputElt = document.getElementById('ta');
    var reg = /^\s+$/;
    let btn = document.getElementById('send');
    // on commence par desactiver le bouton quand le javascript se charge
    btn.disabled = true;

    // ajout d'une fonction appelee des qu'une touche est enfoncee
    function isCharSet() {
        // on verifie si le champ n'est pas vide alors on desactive le bouton sinon on l'active
        if (inputElt.value != "" && !inputElt.value.match(reg)) {
            btn.disabled = false;
        } else {
            btn.disabled = true;
        }
    }
</script>

<script type="text/javascript">
function scrollbas()
{
  var wscrolldiv =  document.getElementById('message');
  wscrolldiv.scrollTop = wscrolldiv.scrollHeight;
}
</script>

<script>

    $(document).ready(function () {
        //var hdernierexecution = Date.now();


           setInterval(function () {

                var Data = {

                    id : @Session["ID_Send"]


                };

                $.ajax({
                    type: "POST",
                    url: "/Contact/MessagesByID",
                    data: Data,
                    dataType: "json",
                    success: function (data) {
                        let ms = document.getElementById('message');
                        ms.innerHTML = "";
                        var i = 0;
                        


                        
                        data.forEach(function (message) {

                            if (message.content != null) {





                             if (@Session["ID"] == message.id_sender) {

                                 ms.innerHTML += ' <br /> <div class="envoyer">' + message.nom + " " + message.prenom + '</div><br /> <div class="alert alert-primary col-lg-5 envoyer">' + message.content + '</div> <br /><br /><br />'

                            }

                            else {
                                ms.innerHTML += ' <br /> <div class="reception">' + message.nom +" " + message.prenom + '</div><br /> <div class="alert alert-danger col-lg-5 reception">' + message.content + '</div> <br /><br /><br />'

                                } 

                            }

                            i++;


                        });
                       
                        if (j<i) {
                            scrollbas();
                        }
             
                        j = i;
                       
                        

                        },

                    error: function (e) {
                       
                       // alert("Erreur")
                    }

                });


           }, 1000);





    });

</script>



