@model IEnumerable<Tchat.Core.DTO.MessageDTO>
@{
    ViewBag.Title = "MesMessages";
}
<h2>MesMessages</h2>
<div class="container">
   
            <div id="message">




            </div>
       


    <br />
    <br />
    <div class="form-row">
        <div id="contenu_message" class="form-group col-md-11">
            <textarea id="ta" class="form-control">  </textarea>

        </div>
        <div class="col">
            <input type="submit" value="Envoyer" class="btn btn-primary mb-2" id="send" />
        </div>

    </div>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>

    $(document).ready(function () {
        //var hdernierexecution = Date.now();


           setInterval(function () {

                var Data = {

                    id : @Session["ID_Send"]


                };

                $.ajax({
                    type: "POST",
                    url: "/Contact/MessagesByID",
                    data: Data,
                    dataType: "json",
                    success: function (data) {
                        let ms = document.getElementById('message');
                        ms.innerHTML = "";
                      
                        
                        
                        data.forEach(function (message) {


                            if (@Session["ID"] == message.id_sender) {

                                ms.innerHTML += ' <br /> <div class="envoyer">' + message.nom +" "+ message.prenom + '</div><br /> <div class="alert alert-primary col-lg-5 envoyer">' + message.content + '</div> <br /><br /><br />'

                            }

                            else {
                                ms.innerHTML += ' <br /> <div class="reception">' + message.nom +" " + message.prenom + '</div><br /> <div class="alert alert-danger col-lg-5 reception">' + message.content + '</div> <br /><br /><br />'
                            }

                        });
                        },

                    error: function (e) {
                        console.log(e);
                        alert("Erreur")
                    }

                });


           }, 1000);





    });

</script>



